@model Sklep.Models.Film
@using Sklep.Infrastructure
@{
    ViewBag.Title = "Details";
}

<div id="szczegoly">
    <table id="tableSzczegoly">
        <tr>
            <td id="filmsFromCategory">
                <h2>@Model.Category.Name</h2>
                @Html.Action("FilmsFromCategory", "Films", new { categoryName = Model.Category.Name })
            </td>
            <td id="obrazek">
                <img src="@Url.GetFullImagePath(Model.ImageName)">
            </td>
            <td>
                <ul>
                    <li>Tytuł: @Model.Title</li>
                    <li>Reżyser: @Model.Director</li>
                    <li>Opis: @Model.Desc</li>
                    <li>Długość filmu: @Model.FilmLength min.</li>
                    <li>Cena: @Model.Price PLN</li>
                    <li>Data dodania: @Model.AddDate</li>
                </ul>
            </td>
        </tr>
        </table>
</div>
