@model Sklep.ViewModels.IndexViewModel
@using Sklep.Infrastructure;
@{
    ViewBag.Title = "List";
}

<table border="1" style="background-color: burlywood">
    <tr>
        <td colspan="3">NOWOŚCI</td>
    </tr>
    <tr>
        @foreach (var film in Model.Top3NewestFilms)
        {

            <td><a href="@Url.Action("Details", "Films", new { id = film.FilmId })"><img src="@Url.GetFullImagePath(film.ImageName)" /></a></td>
        }
    </tr>

</table>

<h2>@Model.Category.Name - @Model.Category.Desc</h2>

<table border="1">
    @foreach (var film in Model.FilmsFromCategory)
    {
        <tr>
            <td><a href="@Url.Action("Details", "Films", new { id = film.FilmId })"><img src="@Url.GetFullImagePath(film.ImageName)" /></a></td>
            <td>@film.Title</td>
            <td>@film.Price PLN</td>
            <td>Dodaj do koszyka</td>
        </tr>
    }
</table>
